@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 3vmin;
  --size-lg: 1rem;
  --size-md: .5rem;
  --radius: .2rem;
  --purple: rgb(112, 49, 225);
}

.card {
  border-radius: var(--radius);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: var(--size-lg);
  padding: var(--size-lg);
}

.card__title {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: .2rem;
}

.title__name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.title__description {
  font-size: 1.5rem;
}

.actions {
  display: flex;
  margin: var(--size-lg) 0;
}

.btn,
input {
  border: 1px solid var(--purple);
  border-radius: var(--radius);
  margin: 0 var(--size-md);
}

.btn {
  color: var(--purple);
  cursor: pointer;
  padding: 1rem;
}

.btn:hover {
  background: var(--purple);
  color: #fff;
}

input {
  font-size: 1rem;
  outline: none;
  padding: var(--size-md);
}

type-banner,
user-info {
  margin: var(--size-md);
}

@media (min-width: 600px) {
  :root {
    font-size: 2vmin;
  }
}